<footer class="g-footer">
  <section>{{ site.title }} ©
  {% assign current = "now" | date: "%Y" | plus: 0%}
  {% unless site.footer.since and site.footer.since == current %}
    {{ site.footer.since }}
    -
  {% endunless %}
  {{ current }}
  </section>
  <section><a href="https://icp.gov.moe/?keyword=20256660" target="_blank">萌ICP备20256660号</a> | Powered by <a href="https://github.com/China-Fan">Afan</a> | 洛谷账户：<a href="//www.luogu.com.cn/user/1062508">0xfff</a> | Hydro 账户：<a href="https://hydro.ac/user/45204">ChinaFan</a> | <a href="https://github.com/China-Fan/China-Fan.github.io">项目地址</a></a></section>
</footer>
