<footer class="g-footer">
  <section>{{ site.title }} ©
  {% assign current = "now" | date: "%Y" | plus: 0%}
  {% unless site.footer.since and site.footer.since == current %}
    {{ site.footer.since }}
    -
  {% endunless %}
  {{ current }}
  </section>
  <section>Powered by <a href="https://github.com/China-Fan/China-Fan.github.io">Afan</a> | 洛谷账户：<a href="//www.luogu.com.cn/user/695833">沐咕</a> | Hydro 账户：<a href="https://hydro.ac/user/45204">ChinaFan</a> | <a href="https://github.com/China-Fan/China-Fan.github.io">项目地址</a> | <a href="https://china-fan.github.io/">主页 | </a></section>
</footer>
